<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
        <add assembly="KissLog.Adapters.NLog"/>
    </extensions>

    <targets>
        <target name="logfile" xsi:type="File"
                fileName="${baseDir}/logs/nlog-${shortdate}.log"
                layout="${longdate} ${uppercase:${level}} ${message}" />

        <target name="kisslog" xsi:type="KissLog" layout="${message}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="logfile" />
        <logger name="*" minlevel="Trace" writeTo="kisslog" />
    </rules>
</nlog>