<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="LogBee.OrganizationId" value="0337cd29-a56e-42c1-a48a-e900f3116aa8" />
    <add key="LogBee.ApplicationId" value="4f729841-b103-460e-a87c-be6bd72f0cc9" />
    <add key="LogBee.ApiUrl" value="https://api.logbee.net/" />
  </appSettings>
</configuration>